<div class="titulo">
    <h1>Agregar Monitor</h1>

</div>
<br><br>
<button (click)="openModal()" type="button" class="btn btn-primary">Crear Monitor</button>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">programa Academico</th>
            <th scope="col">semestre</th>
            <th scope="col">cedula</th>
            <th scope="col">Info</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataInf">
            <td>{{item['nombre']}}</td>
            <td>{{item['apellido']}}</td>
            <td>{{item['programa_academico']}}</td>
            <td>{{item['semestre']}}</td>
            <td>{{item['cedula']}}</td>
            <td>{{item['contacto']}}</td>
            <td>
                <i class='bx bxs-trash-alt icon' (click)="delete(item['id'])"></i>
                <i class='bx bxs-edit-alt icon' (click)="openPopup(item)" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>

                <td>
        </tr>

    </tbody>
</table>
<a [routerLink]="['/']" class="btn btn-secondary">Regresar</a>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="title">
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form #monitorForm="ngForm" name="monitorForm">

                    <div class="row g-3">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="monitor.nombre" required>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="apellido" name="apellido" #apellido="ngModel" [(ngModel)]="monitor.apellido" required>

                        </div>

                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="programaAcademico" name="programa_academico" #programa_academico="ngModel" [(ngModel)]="monitor.programa_academico" required>

                        </div>

                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="semestre" name="semestre" #semestre="ngModel" [(ngModel)]="monitor.semestre" required>
                        </div>

                        <div class="col-md-6">
                            <input type="number" class="form-control" placeholder="cedula" name="cedula" #cedula="ngModel" [(ngModel)]="monitor.cedula" required>

                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="informacionContacto" name="contacto" #contacto="ngModel" [(ngModel)]="monitor.contacto" required>

                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" [style.display]="isVisible ? 'block' : 'none'" class="btn btn-dark" (click)="UpdateMonitor()">
                    Actualizar
                </button>
                <button type="button" [style.display]="isVisible2 ? 'block' : 'none'" class="btn btn-dark" (click)="crearMonitor(monitor)" [disabled]="monitorForm.invalid">
                    Crear
                </button>
                <button type="button" class="btn btn-light" (click)="Cancelar()">
            Cancelar
          </button>
            </div>
        </div>
    </div>
</div>