<div class="titulo">
    <h1>Asignar Monitorias</h1>

</div>
<br><br>
<button (click)="openModal()" type="button" class="btn btn-primary">Crear Monitoria</button>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Materia</th>
            <th scope="col">Monitor Asignado</th>
            <th scope="col">Fecha</th>
            <th scope="col">Salon</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of datArray">
            <td>{{item['materia']}}</td>
            <td>{{item['monitorAsignado']}}</td>
            <td>{{item['fecha']}}</td>
            <td>{{item['salon']}}</td>
            <td>
                <i class='bx bxs-trash-alt icon' (click)="deleteMonitoria(item['id'])"></i>
                <i class='bx bxs-edit-alt icon' (click)="openPopup(item)" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
            </td>
        </tr>

    </tbody>
</table>
<a [routerLink]="['/']" class="btn btn-secondary">Regresar</a>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':modal}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="title">
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form #monitorAsignadoForm="ngForm" name="monitorAsignadoForm">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="materia" name="materia" #materia="ngModel" [(ngModel)]="monitoria.materia" required>
                        </div>

                        <div class="col-md-6">
                            <select class="form-select" name="monitorAsignado" #monitorAsignado="ngModel" [(ngModel)]="monitoria.monitorAsignado">
                                <option selected disabled value="">Monitor</option>
                                <option [value]="item.nombre" *ngFor="let item of monitorServ">{{item['nombre']}}</option>
                                </select>
                        </div>

                        <div class="col-md-6">
                            <input type="date" class="form-control" name="fecha" #fecha="ngModel" [(ngModel)]="monitoria.fecha" required>
                        </div>

                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="salon" name="salon" #salon="ngModel" [(ngModel)]="monitoria.salon" required>
                        </div>

                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" [style.display]="isVisible ? 'block' : 'none'" class="btn btn-dark" (click)="updateMonitoria(monitoria)">
                    Actualizar
                </button>

                <button type="button" [style.display]="isVisible2 ? 'block' : 'none'" class="btn btn-dark" (click)="crearMonitor(monitoria)" [disabled]="monitorAsignadoForm.invalid">
                    Crear
                </button>

                <button type="button" class="btn btn-light" (click)="Cancelar()">
            Cancelar
          </button>
            </div>
        </div>
    </div>
</div>